.body{
    min-height: 100dvh;
    width: 100%;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 200px;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_limitation_header{
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header_logo{
    width: 50px;
}

.footer{
    width: 100%;
    height: 200px;
    background-color: darkblue;
}